In [32]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [33]:
pd.set_option("display.max_rows",500)

In [56]:
df_sample = pd.read_csv('sample_submission.csv')
df_sample.shape

(49588, 2)

In [59]:
df_sample.contact.sum()

0

In [35]:
df_pp = pd.read_csv('submissions_pp.csv')
df_pp.shape

(45276, 2)

In [36]:
df_pg = pd.read_csv('submissions_pg.csv')
df_pg.shape

(4312, 2)

In [37]:
df_pp.shape[0] + df_pg.shape[0]

49588

In [38]:
pd.concat([df_pp, df_pg]).to_csv('submission_combine.csv', index=False)

In [39]:
df_combine = pd.read_csv('submission_combine.csv')
df_combine.shape

(49588, 2)

In [52]:
for i,row in df_sample.iterrows():
    df_sample.loc[df_sample.contact_id==row['contact_id'],'contact'] =\
    df_combine.loc[df_combine.contact_id==row['contact_id'],'contact'].values[0]

#df_sample

In [53]:
df_sample.contact.sum()

1153.0

In [54]:
df_combine['contact'].sum()

1153

In [55]:
df_combine[df_combine.contact==1]

                       contact_id  contact
743    58168_003392_3_41944_42565        1
974    58168_003392_4_41944_42565        1
1075   58168_003392_4_37084_38567        1
1179   58168_003392_5_43854_46445        1
1205   58168_003392_5_41944_42565        1
...                           ...      ...
49501    58172_003247_122_45345_G        1
49503    58172_003247_122_43406_G        1
49523    58172_003247_123_45345_G        1
49525    58172_003247_123_43406_G        1
49579    58172_003247_125_47920_G        1

[1153 rows x 2 columns]

In [44]:
df_sample[df_sample.contact==1]

                     contact_id  contact
49579  58172_003247_125_47920_G      1.0

In [46]:
df_sample[df_sample.contact_id=='58168_003392_5_43854_46445']

                      contact_id  contact
1289  58168_003392_5_43854_46445      NaN

In [51]:
df_combine[df_combine.contact_id=='58168_003392_5_43854_46445']['contact'].values[0]

1

### Writing the exact submission_file

In [61]:
df_pp = pd.read_csv('submissions_pp.csv')
df_pg = pd.read_csv('submissions_pg.csv')

df_sample=pd.read_csv('sample_submission.csv')

In [62]:
df_combine = pd.concat([df_pp, df_pg])

In [63]:
for i,row in df_sample.iterrows():
    if i%1000==0:
        print(i)
    df_sample.loc[df_sample.contact_id==row['contact_id'],'contact'] =\
    df_combine.loc[df_combine.contact_id==row['contact_id'],'contact'].values[0]

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000

In [64]:
df_sample.contact = df_sample.contact.astype('int64')

In [65]:
df_sample.to_csv('submission.csv',index=None)